* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;


}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #2c9caf;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {

    font-size: 20px;
    color: #222;
}

h6 {

    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #5ee9e0;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #f8f8f8;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    height: 60px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    height: 90px;
    width: auto;
    margin-left: -60px;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #2c9caf;


}

#navbar li a:hover,
#navbar li a.active {
    border-bottom: 2px solid #132e21;
}

#navbar li a:active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #132e21;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home page */
#hero {
    background-image: url("assets/blurry\ book.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


}


#hero h4 {
    padding-bottom: 15px;
    color: #fafafd;

}

#hero h2 {
    color: #5ee9e0;
    padding-bottom: 15px;

}

#hero h1 {
    color: #c8d6d8;
    ;
}

#hero p {
    color: #e6edf0;
}

#hero button {
    margin-top: 40px;
    background-color: #e0e2e0;
    border: 2px solid #0f3a1d;
    border-radius: 30px;
    box-shadow: #2c9caf 4px 4px 0 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#hero button:hover {
    background-color: #edf1ed;
}

#hero button:active {
    box-shadow: #e0e2e0 2px 2px 0 0;
    transform: translate(2px, 2px);
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box {
    width: 300px;
    height: 260px;
    text-align: center;
    padding: 1px 15px;
    box-shadow: 20px 20px 34px rgba(89, 61, 180, 0.03);
    border: 1px solid #dad9ff;
    border-radius: 4px;
    margin: 15px 0;

}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(127, 101, 220, 0.1);

}

#feature .fe-box img {
    width: 110px;
    height: 150px;

    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#feature .fe-box p {
    color: #2c9caf;
}

#feature .fe-box button {

    height: 30px;
    width: 130px;
    margin-top: 0px;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 8px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des .h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("assets/plant-header.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #22825e;
    font-size: 16px;
}

#banner h2 {
    color: #1d6937;
    font-size: 30px;
    padding: 10px 0;
}

#banner span {
    color: #4a9a5e;
}

#banner button:hover {
    background: #fff;
    color: #088178;
}
<<<<<<< HEAD

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("assets/gifts.jpg");
    min-width: 1000px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
} 
#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}
#sm-banner .banner-box:hover button{
    background: #22825e;
    border: 1px solid #0d4828;
}
#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("assets/best-seller.jpg");
    min-width: 1000px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("assets/indoor-plant.jpg");
    min-width: 30%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("assets/o.webp");
    min-width: 30%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("assets/new.jpg");
    min-width: 30%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 h2{
    color: #213825;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: #2d624e;
    font-weight: 800;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #0d4828;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(205, 226, 205);
}
#newsletter p span{
    
    color: rgb(27, 186, 27);
}
#newsletter input{
  height: 3.125rem;
  padding: 1.25em;
  font-size: 14px;
  width: 100%;
  border:  1px solid transparent;
   border-radius: 4px;
   outline: none;
   border-top-right-radius: 0%;
   border-bottom-right-radius: 0%;
}
#newsletter button{
    background-color: whitesmoke;
    color: #1d6937;
    white-space: nowrap;
    border-top-left-radius: 0%;
   border-bottom-left-radius: 0%;
}
#newsletter .form{
    display: flex;
    width: 40%;
    
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logoF{
    margin-bottom: 80px;
    width: 300px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
     margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #304e40;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #304e40;
    border-radius: 6px;
}
footer .install  img{
    margin: 10px 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #86b998;
}
footer .copyright{
    width: 100%;
    text-align: center;
    margin-top:80px ;
=======
.explore-PNU {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }
  
  .explore-PNU h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background-color: #e7dfdf;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;

}

.container .card:hover {
    height: 400px;
}

.container .card .imgBx {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: -30%;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .content {
    top: 130px;
    height: 250px;
}

.container .card .content h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: -5%;
    color: #1a6899;
}

.container .card .content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: #333;
}

.container .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: #5a749e;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.content {
    flex-basis: 30%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}